<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/" id="1">
      <p>words:<input type="text" name="words"></p>
      <input type="submit" id="1" value="Submit">
    </form>
  </body>
</html>